// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boxInfo {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  padding-left: 10px;
}

.itemRow {
  display: inline-block;
}

#cards {
  border: 2px solid black;
  border-radius: 5px;
}

#map {
  position: fixed;
}