// Place all the styles related to the Flowers controller here.
// They will automatically be included in application.css.
// You can use Sass ;(SCSS) here: http://sass-lang.com/
.hidden {
  display: none;
}

.modal-header {
  .close {
    margin-top: -35px !important;
  }
}

.contactInputs {
  #messageSubject {
    display: inline-block;
  }
  #orderID {
    display: inline-block;
  }
  #questionInput {
    width: 100%;
    height: 200px;
  }
}

.modal-backdrop {
  z-index: auto !important;
}
body {
  font-family: "Lato", sans-serif;

  .carousel-inner{
    h2 {
      margin: 0;     
      color: white;
      padding-top: 90px;
      font-size: 52px;
      font-family: "Lato", sans-serif; 
      font-weight: 300;
    }
  }
  .item{
      //background: #333;    
      text-align: center;
      height: 300px !important;
      background-position: center;
      background-attachment: fixed;
  }
  .item1 {
    background-image: image-url("Greenhouse.jpg") !important;
  }
  .item2{
    background-image: image-url("Tapestry.jpg")
  }
  .item3{
    background-image: image-url("MarbleStar.jpg")
  }
  .item4{
    background-image: image-url("Maren.jpg")
  }
  .item5{
    background-image: image-url("ChiantiRed.jpg")
  }
  .item6{
    background-image: image-url("DaVinci.jpg")
  }
  .sizeComparison {
    h2 {
      color: black;
      font-family: "Lato";
    }
    h3 {
      font-family: "Lato";
    }
    .size {
      text-align: center;
    }
  }
  .Transition {
    width: 40%;
    margin-top: 100px;
    margin: 100px auto 100px auto;
    text-align: center;
    .transitionButton {
      position: relative;
      border: 1px solid black;
      border-radius: 15px;
      padding: 20px 25px 20px 25px;        
      transition: background 2s, background-color 2s, color 2s, ease;
      &:hover {
        opacity: 0.5;
        background-color: red;
        h2 {
          text-decoration: none !important;
          color: white;
        }
      }
      h2 {
        text-decoration: none !important;
        display: table-row;
        position: relative;
        vertical-align: middle;
        color: black;
        text-align: center;
      }
    } 
  }

  .Selection {
    margin-top: 50px;
    margin-bottom: 100px;
    .card {
      border: 1px solid black;
      margin: 15px 0px 15px 0px;
      .flowerName {
        padding: 10px 0px 10px 0px;
      }
      .flowerImage {
        padding: 0px 10px 10px 10px;
      }
      .utility {
        position: relative;
        padding-bottom: 60px;
        .sixInch {
          display: inline-block !important;
          float: left;
        }
        .eightInch {
          display: inline-block;
          float: right;
        }
      }
    }
    .cartDiv {
      .cartBanner {
        h2 {
          color: black;
        }
      }
      .discountWell {
        margin: 10px 0 10px 0;
      }
      .allItems {
        margin-bottom: 10px;
        max-height: 380px;
        overflow: scroll;
        .cartItem {
          border: 1px solid black;
          display: inline-block;
          .sixinch {
            display: inline-block;

          }
          .eightinch{
            display: inline-block;
          }
          .removeOne {
            background: none;
            color: white;
            border: none;
            border-radius: 10px;
            background: black;
            opacity: 0.3;
            transition: opacity 1s;
            &:hover {
              opacity: 1.0
            } 
          }
        }
      }
      .orderTotal {
        display: inline-block;
        margin-left: 30px;
        }
      .deliveryOption {
        position: relative;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        .pickup {
          //display: inline-block;
          float: left;
        }
        .delivery {
          //display: inline-block;
          float: right;
        }
      }
      .deliveryAddress {
        .address{
          margin-bottom: 20px;
        }
      }
      .pickupLocation {
        display: none;
        margin-bottom: 20px;
      }
      .deliveryAddress {
        display: none;
        margin-bottom: 20px;
      }
      .info {
        margin-top: 20px;
      }
    }
  }
}

#nav {
  font-size: 1rem;
  font-weight: 300;
  padding: 2em 0;
  &.Dark {
    #brandLink #nameHighlight {
      color: white !important;
    }
    .btn.btn-default {
      color: white;
    }
  }
  #brandLink {
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
    line-height: 1em;
    color: red;
    #nameHighlight {
      color: green;
    }
    #cornellLogo {
      color: #b31b1b;
      font-family: "Crimson Text", serif;
    }
  }
  .btn {
    display: inline-block;
    margin-left: 0.5em;
  }
  .btn-group {
    .btn {
      margin-left: 0;
      &:first-child {
        margin-left: 0.5em;
      }
    }
  }
}
